.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
}

.image-crypto {
  width: 40px;
}

.character {
  border: 1px solid black;

  /* box-shadow: 5px 2px 5px 2px greenyellow; */
  width: 220px;
  height: 120px;
  background-image: url('../img/imagee.jpg');
  background-size: 250px;
  backface-visibility: visible;
}

.character-name {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}
