.App {
  background-color: cornflowerblue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.image-crypto {
  width: 60px;
}

.character {
  border: 1px solid black;

  /* box-shadow: 5px 2px 5px 2px greenyellow; */
  width: 264px;
  height: 120px;
  background-image: url('../img/imagee.jpg');
  background-size: 250px;
  backface-visibility: visible;
}

.character-name {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.container-search {
  margin-top: 110px;
  margin-left: 150px;
}

.input-search {
  border-radius: 12px;
  width: 580px;
  height: 40px;

  /* background-color: rgb(101, 101, 255); */
  background-image: url(../img/imageback.webp);
  color: whitesmoke;
}

.btn {
  border: none;
  border-radius: 8px;
  background-color: rgb(94, 94, 255);
  color: whitesmoke;
  width: 75px;
  height: 25px;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .input-search {
    width: 170px;
    height: 30px;
    margin-left: -90px;
  }

  .character {
    width: 177px;
    border-radius: 20px;
  }

  .btn {
    margin-left: 7px;
  }
}

@media (min-width: 728px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 35px;
    border: 2px solid #dcdcdc;
    margin: 25px;
    background-color: #aeb8ff;
    border-radius: 30px;
  }
  
  .character {
    border: 1px solid black;
    box-shadow: 5px 2px 5px 2px #c927ff;
    width: 227px;
    height: 120px;
    background-image: url('../img/imagee.jpg');
    background-size: 250px;
    backface-visibility: visible;
    text-align: center;
  }
}